<section class="projects" id="projects">
  <span class="text-center h1 lh-base d-block m-2 p-3">PROJECTS</span>
  <div class="row mb-3 px-3 row-cols-3 align-items-center mx-2">
    <div *ngIf="projects.length==0" class="w-100">
      <p class="text-center w-100">--- There's no Project . Its in CV. ---</p>
    </div>
    <div *ngIf="projects.length!=0" class="w-100">
      <div class="card">
        <div class=" border-bottom border-bottom-1 p-3 m-2">
          Hello World
        </div>
        <div class="card-img">
          <img src="../../../assets/imgs/mainpicture.jpeg" class="img-fluid h-25" />
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, atque. Necessitatibus iusto atque illo eius enim
          reprehenderit, pariatur quis, nulla consectetur deleniti et suscipit corrupti, eos porro deserunt ab unde.
        </div>
      </div>
    </div>
  </div>
  <hr class="w-75 d-block mx-auto" />
</section>
