<section class="my-2 py-1" id="home">
  <div class="row gap-3 align-items-center justify-content-center pb-2 mb-2 px-0">
    <div class="col-5">
      <article class="lh-lg">
        <span class="d-block h1">I'm a Software Developer!</span>
        <div class="fs-4">
          I'm working as a software engineer at brycen myanmar company. I work with laravel and java and aspnet core. I Love to write code and do lesture activties in free time. I wanna grow my community for our country.
        </div>
      </article>
    </div>
    <div class="col-5">
      <img src="../../../assets/imgs/mainpicture.jpeg" class="img-fluid rounded-circle h-50" alt="Kyaw Zin Htet Profile Picture"/>
    </div>
  </div>
  <hr class="w-75 d-block mx-auto" />
</section>
